{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 36.700051,
    "longitude": 3.0291266,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Maison",
    "time_zone": "Europe/Paris",
    "external_url": null,
    "internal_url": null,
    "currency": "DZD",
    "country": "DZ",
    "language": "fr",
    "radius": 100
  }
}